<div class="container">
  <h2>Categoría</h2>
  <section class="section">
    <h4>Crear categoría</h4>
    <form [formGroup]="categoryForm" (submit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" name="name">
        </mat-form-field>
        <div class="alert">
          <p *ngIf="name.touched && name.errors?.['required']">Campo obligatorio</p>
          <p *ngIf="name.touched && name.errors?.['pattern']">Solo letras</p>
        </div>
      </div>
      <div>
        <button
          color="primary"
          mat-raised-button
          type="submit"
          [disabled]="!categoryForm.valid"
        >Agregar</button>
      </div>
    </form>
  </section>
  <div class="columns">
    <div class="column">
      <h5 class="title is-5">Listado</h5>
    </div>
  </div>
  <div class="columns" *ngFor="let category of categories">
    <div class="column">
      <label>{{category.name}}</label>
    </div>
    <div class="column">
      <button mat-raised-button color="accent">Modificar</button>
    </div>
    <div class="column">
      <button mat-raised-button color="warn" (click)="delete(category.id)">Borrar</button>
    </div>
  </div>
</div>
